# ── 目录
DATA_DIR=./data
LOG_DIR=./logs

# ── 镜像（不设置则用默认 ppx-xxx）
# APISERVER_IMAGE=registry.example.com/x2x-apiserver:1.0.0
# DEEPSEEK_IMAGE=registry.example.com/x2x-deepseek:1.0.0
# PADDLE_09B_IMAGE=registry.example.com/x2x-paddle-0.9b:1.0.0
# PADDLE_15B_IMAGE=registry.example.com/x2x-paddle-1.5b:1.0.0

# ── 端口
APISERVER_PORT=9527
DEEPSEEK_PORT=4000
PADDLE_PORT=4001
GLM_PORT=4002

# ── GPU
APISERVER_GPUS=0
DEEPSEEK_GPUS=0
PADDLE_GPUS=0
GLM_GPUS=0

DEEPSEEK_GPU_MEM_UTIL=0.8
PADDLE_GPU_MEM_UTIL=0.8
GLM_GPU_MEM_UTIL=0.8

#表示启动多少个，这个必须和gpu数一致，如：前面指定了2个显卡，这里就可以设置为2
DEEPSEEK_SIZE=1
PADDLE_SIZE=1
GLM_SIZE=2