/*
!/src/
!/requirements.*
!/version.txt
!/app
!/setup.py
!/web/
!/docker-entrypoint.sh
!/Dockerfile
!/README.md
!/README_zh-CN.md
!/docs/
!/LICENSE
!/PPX_CLA.md
!/pyproject.toml
!/.gitignore
!/.dockerignore
!/install
!/.gitattributes
!/CONTRIBUTING.md
!/THIRD_PARTY_LICENSES.md
!/NOTICE

**/.DS_Store
**/__pycache__/**
/src/**/*.c
/src/**/*.so
/src/**/*.egg-info/


!/docker-compose.yaml
!/.env.sample

**/**/others